.formWrapper {
  background-color: var(--primary-bg-cl);
  padding: 24px;
  width: 904px;
  height: auto;
}
.titleForm {
  font-size: var(--text-2xl);
  font-weight: var(--semibold);
  line-height: calc(45 / 24);
  color: var(--primary-txt-cl);
  margin-bottom: 24px;
}
.buttonSubmit {
  padding: 12px 30px;
  border-radius: 5px;
  font-size: var(--text-md);
  font-weight: var(--semibold);
  line-height: calc(20 / 16);
  color: var(--primary-bg-cl);
  border: 1px solid var(--accent-cl);
  background-color: var(--accent-cl);
  opacity: 0.8;
  transition: all var(--transition);
  &:hover,
  &:focus {
    opacity: 1;
  }
}
.buttonSubmitGap {
  margin-right: 24px;
}

.buttonCancel {
  padding: 12px 30px;
  border-radius: 5px;
  font-size: var(--text-md);
  line-height: calc(20 / 16);
  color: var(--red);
  border: 1px solid var(--red);
  opacity: 0.8;
  transition: all var(--transition);
  &:hover,
  &:focus {
    opacity: 1;
  }
}
.blockButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
}
.inputLabel {
  font-weight: var(--medium);
  line-height: calc(24 / 16);
  margin-bottom: 10px;
}
.inputLabel::after {
  content: '*';
  color: var(--red);
}
.input {
  width: 100%;
  max-width: 412px;
  padding: 12px 15px;
  border: 1px solid var(--border-social-normal);
  border-radius: 5px;
}

.inputGroupBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

.errorInput {
  position: absolute;
  bottom: -20px;
  left: 15px;
  color: var(--red);
}
