.wrapperPageForm {
  padding: 16px 32px;
}
.title {
  font-size: var(--title);
  font-weight: var(--semibold);
  line-height: calc(35 / 28);
  color: var(--black);
  margin-top: 24px;
  margin-bottom: 32px;
}
