.imgGalleryItem {
  position: relative;
  padding: 9px;
  width: 158px;
  height: 158px;
  border-radius: 5px;
  border: 1px solid var(--gray-secondary);
  overflow: hidden;
  transition: var(--transition);
  &:hover {
    .imgButtonWrapper {
      display: flex;
    }
  }
}

.imgGalleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.imgThumb {
  height: 140px;
  width: 140px;
}
.image {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  // width: 160px;
}

.imgButtonWrapper {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 16px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(61, 61, 61, 0.3);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: transparent;
}

.modalImage {
  max-height: 90vh;
}
