.container {
  width: 174px;
}
.phoneLink {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 24px;
  height: 24px;
}
.number {
  font-size: var(--text-md);
  font-weight: var(--medium);
  line-height: 1.5;
  color: var(--primary-txt-cl);
}
.text {
  font-size: var(--text-sm);
  font-weight: var(--medium);
  line-height: 1.14;
  color: var(--secondary-txt-cl);
}
