.wrapperPageForm {
  width: 100%;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 52px;
  // margin-right: -32px;
}
.title {
  font-size: var(--title);
  font-weight: var(--semibold);
  line-height: calc(35 / 28);
  color: var(--black);
  margin-top: 24px;
  margin-bottom: 32px;
}
