.title {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: var(--semibold);
  font-size: var(--text-2xl);
  line-height: 1.88;

  text-align: center;

  border-bottom: var(--border);
  border-top: var(--border);
}

.radioList {
  padding-top: 16px;
  padding-bottom: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.deliveryItem {
  padding: 16px 24px;

  border: var(--border);
  border-radius: 5px;
}

.radioItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  padding: 3px 12px;

  font-weight: var(--medium);
  font-size: var(--text-sm);
  line-height: 1.57;

  color: var(--white);
  background: var(--gray-secondary);
  border-radius: 30px;
}

.deliveryOptions {
  position: relative;

  display: none;
  margin-top: 16px;

  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.active {
  background-color: var(--secondary-bg-cl);

  .price {
    background-color: var(--accent-cl);
  }

  .deliveryOptions {
    display: flex;
  }

  & .label {
    &:before {
      content: "";
      width: 24px;
      height: 24px;
      border: 1px solid var(--accent-cl);
      background: radial-gradient(circle at center,var(--accent-cl) 40%,transparent 40%);
    }
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 12px;

  font-weight: var(--semibold);
  font-size: var(--text-lg);
  line-height: 1.39;

  &:before {
    content: "";
    width: 24px;
    height: 24px;

    border: 1px solid var(--gray);
    border-radius: 50%;
    background-color: transparent;
  }

  cursor: pointer;
}
