.container {
  position: relative;
  width: 280px;
  padding: 16px 20px 20px 16px;
  border-radius: 5px;
  background-color: var(--components-cl);
  transition: var(--transition);
  &:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--shadow-primary);
    & .addButtonContainer {
      display: block;
      box-shadow: var(--shadow-primary);
    }
    & .editButtonContainer {
      display: flex;
      box-shadow: var(--shadow-primary);
    }
    & .title {
      white-space: normal;
      text-overflow: clip;
      overflow: visible;
    }
  }
}

.favorite {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.poster {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  width: 160px;
  height: 223px;
}

.reviews {
  margin-bottom: 12px;
  color: var(--gray);
}
.title {
  font-size: var(--text-xl);
  font-weight: var(--semibold);
  line-height: 1.3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 248px;
  margin-bottom: 4px;
  color: var(--primary-txt-cl);
}
.author {
  font-size: var(--text-lg);
  font-weight: var(--medium);
  line-height: 1.33;
  margin-bottom: 12px;
  color: var(--secondary-txt-cl);
}
.price {
  font-size: var(--text-xl);
  font-weight: var(--semibold);
  line-height: 1.3;
  margin-bottom: 12px;
  color: var(--primary-txt-cl);
}

.inStock {
  display: flex;
  align-items: center;
}

.inStockText {
  margin-left: 8px;
  color: var(--accent-cl);
}
.outOfStockText {
  margin-left: 8px;
  color: var(--gray);
}

.addButtonContainer {
  display: none;
  position: absolute;
  left: 0;
  bottom: -64px;
  width: 100%;
  height: 64px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  z-index: 1;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--components-cl);
}
.addButton {
  font-weight: var(--semibold);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  width: 100%;
  background-color: var(--accent-cl);
  color: var(--white);
  &:hover {
    background-color: var(--accent-hover-cl);
    box-shadow: var(--shadow-primary);
  }
  &:disabled {
    background-color: var(--gray-secondary);
  }
}

.addIcon {
  margin-right: 10px;
}

.editButtonContainer {
  display: none;
  position: absolute;
  left: 0;
  bottom: -64px;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  z-index: 1;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--components-cl);
}

.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  width: 118px;
  background-color: var(--accent-cl);
  color: var(--white);
  transition: var(--transition);
  &:hover {
    background-color: var(--accent-hover-cl);
    box-shadow: var(--shadow-primary);
  }
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  width: 118px;
  background-color: var(--red);
  color: var(--white);
  transition: var(--transition);
  &:hover {
    background-color: var(--red-hover);
    box-shadow: var(--shadow-primary);
  }
}
